<div class="row">
  <div class="col-md-6 col-sm-12">
  <md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Spot The Alphabets</md-card-title>
    <md-card-subtitle>This is a fun game for toddlers, wherein, they have to spot the alphabets in the immersive augmented reality created using device camera. Just hold your phone and look out for letters up, down, all around and identify them by voice interaction.
    </md-card-subtitle>
  </md-card-header>
  <img md-card-image style="width : 100%" src="/img/optimized-banner.png">
  <md-card-content>
    <p>  Feautures:    </p>

        <ul>
          <li>Bringing learning outside the classroom.</li>
          <li>AR brings an amazingly cool experience to the kids.</li>
          <li>Voice interaction along with speech recognition.</li>
          <li>Report card which grades the letter recognition and presents the data as chart.</li>
        </ul>
  </md-card-content>
  <md-card-actions>
    <button style="background-color:#ffd740" md-button routerLink="/vr"><md-icon>videocam</md-icon><span>Start the Game</span></button>
    <button style="background-color:#ffd740" class="home-btn" md-button routerLink="/chart"><md-icon>stars</md-icon><span>Report Card</span></button>
  </md-card-actions>
</md-card>
</div>

</div>
