<h1 md-dialog-title>Tour de App!!</h1>
<md-card-content>
  <div>
    <i class="material-icons blue-icon">open_with</i>
    <span>Alphabets are scattered all around. So merry go round with the phone in hand.</span>
  </div>
  <div>
    <i class="material-icons green-icon">touch_app</i>
    <span>Touch the alphabets, and you will be asked to name them.</span>
  </div>
  <div>
    <i class="material-icons red-icon">mic</i>
    <span>When prompted, answer the alphabet in the format 'Letter A','Alphabet A' or just 'A'. You will be notified if your answer is correct.</span>
  </div>
</md-card-content>
<div md-dialog-actions>
  <button style="background-color:#ffd740" md-button (click)="dialogRef.close()"><i class="circle material-icons">thumb_up</i><span>Ok! Let's start</span></button>
</div>
